@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.app{
  background-color: #ffffff;
  display: flex;

}

.side-bar{
  background-color: #19A7B3;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  border: solid 0.5px rgba(255,255,255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.history{
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

hr{
  border: 0 none;
    border-bottom: 1px solid #cccccc2e;
    width: 95%;
    margin-top: 20px;
}

.info{
  color: rgba(255,255,255, 0.5);
  font-size: 14px;
  padding: 10px;
}

.bottom-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.input-container{
  position: relative;
  width: 100%;
  max-width: 650px;
  margin-top: 30px;
}

input{
  width: 100%;
  border: none;
  background-color: #F5F5F5;
  padding: 12px 15px;
  border-radius: 5px;
  color: #2e323e;
  font-weight: 500;
  font-size: 14px;
}

input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 0px;
  right: -28px;
  cursor: pointer;
  padding: 10px;
  color: #2e323e;
  font-weight: 500;
}

#submit:hover{
  opacity: 0.8;
}
.feed{
  overflow-y: auto;
  width: 95%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #F5F5F5;
  padding: 20px;
  margin: 20px 0;
}

.feed p, .feed pre{
  color: #2e323e;
  font-size: 14px;
  text-align: left;
  text-wrap: wrap;
  font-weight: 500;
}

.feed p.role{
  min-width: 100px;
}

h3{
  text-align: center;
}

.typing-image{
  width: 50px;
}

.loading-wrapper{
  padding-top: 0;
    margin-top: 0;
}